*, h2 {
    box-sizing: border-box;
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 20px;
}

header {
    margin-top: 20px;
}

.rating {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.result-rating {
    
}

.stars {
    margin-top: 5px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: none;
}

.stars:not(:checked) > input {
    position: absolute;
    top: -9999px;
}
.stars:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}
.stars:not(:checked) > label:before {
    content: '★ ';
}
.stars > input:checked ~ label {
    color: #ffc700;    
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.stars > input:checked + label:hover,
.stars > input:checked + label:hover ~ label,
.stars > input:checked ~ label:hover,
.stars > input:checked ~ label:hover ~ label,
.stars > label:hover ~ input:checked ~ label,
.stars input:checked ~ label {
    color: #c59b08;
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'UnifrakturMaguntia', cursive;
    margin-bottom: 15px;
}

.go {
    font-size: 45px;
    border: 10px solid white;
    border-radius: 50%;
    margin: 20px;
    padding: 40px;
}

.location-text {
    font-style: italic;
    margin-top: 25px;
}

.hidden {
    display: none !important;
}

.results-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.result {
    padding: 15px;
    border: 1px solid white;
    margin: 10px;
    height: auto;
    width: 100%;
    max-width: 575px;

}

.result img {
    width: auto;
    height: 100px;
    float: left;
    margin-right: 10px;
}

.result h2 {
    font-size: 23px;
    line-height: 32px;
    text-align: right;
}

.result p {
    display: relative;
    text-align: right;
    margin-top: 5px;
}

.result span {
    line-height: 22px;
}

.address {
    color: #FF4545;
}

.hours {
    color: 
}

.try-again {
    font-size: 20px;
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
}

ul, li {
    list-style: none;
}

.no-results {
    margin-top: 25px;
}

.with-couches {
    margin: 20px;
}

.error-text {
    color: red;
    font-style: italic;
    margin: 20px;
}

.loading {
    margin-top: 200px;
}

.top-link, .location-text {
    margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
    .result {
        width: 80%;
    }
    .result img {
        height: 200px;
    }
}

